body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar-container {
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(122, 9, 82, 0.951);
    padding: 7px 10px;
    color: rgb(224, 217, 217);
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 110px;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    height: 70px;
    margin-right: 10px;
    width: 70px;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 19px;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #ffd700;
}

@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        display: none;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    .navbar ul.active {
        display: flex;
    }

    .navbar .menu-toggle {
        display: block;
        cursor: pointer;
    }
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    background: white;
    height: 3px;
    width: 25px;
    margin: 4px 0;
}


.centered-div {
    text-align: center;
    padding: 20px;
    background-color:rgb(217, 213, 213);
    width: 100%;
    height: 380px;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 20px; /* Space between items */
    margin-top: 20px;
}

.item {
    background-color:rgb(217, 213, 213); /* Adjust background color as needed */
    color: white;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
}

.item a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.item p {
    margin: 0 0 10px 0;
    font-size: 20px;
    color: rgb(102, 9, 90);
}
.item u{
    color: orangered;
}


.new-div {
    text-align: center;
    padding: 20px;
    background-color:rgb(28, 16, 81);
    width: 100%;
    height: 1100px;

}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 24px; /* Space between items */
    margin-top: 20px;
}

.new {
    background-color:rgb(233, 224, 224); /* Adjust background color as needed */
    color: white;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
}

.new a {
    text-decoration:none;
    font-weight: bold;
    font-size: 18px;
    color: black;
   
}

.new p {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: rgb(12, 12, 12);
}
.new u{
    color: orangered;
}

.new2-div {
    text-align: center;
    padding: 20px;
    background-color: rgb(120, 199, 166);
    width: 100%;
    height:500px;

}
.new2-div h2 {
    text-align: center;
    font-size: 28px;
    color: rgb(60, 10, 10);

}
.container2 {
    display:grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 20px; /* Space between items */
    margin-top: 20px;
}

.item2 {
    background-color: rgb(120, 199, 166); /* Adjust background color as needed */
    color: white;
    padding: 15px;
    border-radius: 8px;
    text-align:left;
}

.item2 a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: rgb(223, 18, 18);
}

.item2 p {
    margin: 0 0 10px 0;
    font-size: 20px;
    color: rgb(23, 5, 5);
}
.item2 u{
    color: rgb(223, 19, 19);
}



.new3-div {
    text-align: center;
    padding: 20px;
    background-color:rgb(9, 9, 9);
    width: 100%;
    height: 520px;

}
.new3-div h1 {
    text-align: center;
    font-size: 32px;
    color: white;

}

.container3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 24px; /* Space between items */
    margin-top: 20px;
}

.new3 {
    background-color:rgb(233, 224, 224); /* Adjust background color as needed */
    color: white;
    padding: 15px;
    border-radius: 8px;
    text-align: left;

}

.new3 a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.new3 p {
    margin: 0 0 10px 0;
    font-size: 20px;
    color: rgb(229, 11, 11);
}
.new3 u{
    color: rgb(12, 12, 12);
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 35px;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    background-color: rgb(198, 197, 197);
}

.map2 a {
    text-decoration: none;
    background-color: #198126;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 21px;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s;
    width: 200px;
    height: 40px;
    text-align: center;
    margin-left: 100px;
}

.map2 a:hover {
    background-color: #1e4028;
    color: #fbfbfb;
}
.map2 h2{
font-size: 27px;
color: #d4183e;
text-align: center;
}

.contact-item {
    display: flex;
    align-items:center;
    margin-bottom: 10px;
}
.contact-item i {
    margin-right: 10px;
    color: #0c0c0c;
}
.map2 span{
    color: rgb(9, 9, 9);
}